.header-wrapper {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px !important;
    height: 1000px;
    z-index: 10;
    padding: 20px;
    overflow: hidden;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    height: 900px;
    margin-top: 50px;
    width: 10%;
  }
  
  .header .search {
    display: flex;
    justify-content: space-between;
    background: #efefef;
    border-radius: 8px;
    height: 30px;
    align-items: center;
    width: 260px;
  }
  
  .header .search > input {
    border: none;
    background: transparent;
    outline: none;
  }
  
  .header .search .search-icon {
    margin-left: 8px;
    font-size: 20px;
  }
  
  .header .header-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .header .header-links .icon {
    display: flex;
    font-size: 28px;
  }
  
  /* header search result */
  
  .search-result-wrapper {
    position: absolute;
    top: 28px;
    right: 0;
    left: 0;
    z-index: 1;
    border: 1px solid #e5e5e5;
    background: #fff;
    margin-top: 8px;
    padding: 0;
    border-radius: 8px;
    width: 280px;
  }
  
  .search-result {
    display: flex;
    flex-direction: column;
  }
  
  .search-result-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 6px;
    transition: background 0.5s ease;
  }
  
  .search-result-link:hover {
    background: #ccc;
  }
  
  .search-resul-text {
    font-size: 12px;
    padding: 6px;
    font-weight: bold;
  }

  /* */
  .link-flex {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 12px;
  }
  
  .logo-odhu{
    width: 166px;
    height: 75px;
    margin-bottom: 50px;
    margin-top: -50px;
  }

  /* responsive */
  
  @media (max-width: 768px) {
    .header .search {
      display: none;
    }
  }